<%- include('partials/header') %>

<form action ="/register" method="post">
    <input type="email" name="email">
    <input type="password" name="password">
</form>

<%- include('partials/footer') %>
